{% load static %} <!-- if you want to use satatic files-->


<header>
        <div class="container-fluid position-relative no-side-padding">

            <a href="#" class="logo"><img src="{% static 'images/logo.png' %}" alt="Logo Image"></a>

            <div class="menu-nav-icon" data-nav-menu="#main-menu"><i class="ion-navicon"></i></div>

            <ul class="main-menu visible-on-click" id="main-menu">
                <li><a href="{% url 'pages:index' %}">Home</a></li>
                <li><a href="{% url 'articles:index' %}">Articles</a></li>

                {% if not user.is_authenticated %}
                <li><a href="{% url 'pages:about' %}">About</a></li>
                <li><a href="{% url 'accounts:login' %}">Login</a></li>
                <li><a href="{% url 'accounts:register' %}">Register</a></li>
                {% else  %}
                <li><a href="{% url 'accounts:dashboard' %}">({{user.username}})Dashboard</a></li>
                <li><a href="javascript:{document.getElementById('logout').submit()}" class="nav-link">
                        <i class="fas fa-sign-out-alt">Logout</i>
                      </a>
                      <form action="{% url 'accounts:logout' %}" id="logout" method="POST">
                          {% csrf_token %}
                          <input type="hidden">
                      </form></li>
                {% endif %}

                
            </ul><!-- main-menu -->

            <div class="src-area">
                <form>
                    <button class="src-btn" type="submit"><i class="ion-ios-search-strong"></i></button>
                    <input class="src-input" type="text" placeholder="Type of search">
                </form>
            </div>

        </div><!-- conatiner -->
    </header>