{% extends 'base.html' %}
{% load static %}


{% block content %}
<br>
<br>

<meta charset="utf-8">
    <!--  This file has been downloaded from https://bootdey.com  -->
    <!--  All snippets are MIT license https://bootdey.com/license -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/dashboard/mystyle.css' %}">


    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <div class="container">
        <div class="user-profile">
            <div class="profile-header-background"><img src="http://demo.thedevelovers.com/dashboard/queenadmin-1.2/assets/img/city.jpg" alt="Profile Header Background"></div>
            <div class="row">
                <div class="col-md-4">
                    <div class="profile-info-left">
                        <div class="text-center">
                            <form class="md-form">
                                <div class="file-field">
                                  <div class="mb-4">

                                      <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="Avatar" class="avatar img-circle">
                                  </div>
                                  <div class="d-flex justify-content-center">
                                    <div class="btn btn-mdb-color btn-rounded float-left">
                                      <span>Change photo</span>
                                      <input type="file">
                                    </div>
                                  </div>
                                </div>
                              </form>
                            <h2>{{user.first_name}}</h2>
                        </div>
                        <div class="action-buttons">
                            <div class="row">
                                <div class="col-xs-6">
                                    <a href="#" class="btn btn-success btn-block"><i class="fa fa-plus-round"></i> Follow</a>
                                </div>
                                <div class="col-xs-6">
                                    <a href="#" class="btn btn-primary btn-block"><i class="fa fa-android-mail"></i> Message</a>
                                </div>
                            </div>
                        </div>
                        <div class="section">
                            <h3>About Me</h3>
                            <p>Energistically administrate 24/7 portals and enabled catalysts for change. Objectively revolutionize client-centered e-commerce via covalent scenarios. Continually envisioneer.</p>
                        </div>
                        <div class="section">
                            <h3>Statistics</h3>
                            <p><span class="badge">332</span> Following</p>
                            <p><span class="badge">124</span> Followers</p>
                            <p><span class="badge">620</span> Likes</p>
                        </div>
                        <div class="section">
                            <h3>Social</h3>
                            <ul class="list-unstyled list-social">
                                <li><a href="#"><i class="fa fa-twitter"></i> @ahmtcn</a></li>
                                <li><a href="#"><i class="fa fa-facebook"></i> ahmtcn</a></li>
                                <li><a href="#"><i class="fa fa-dribbble"></i> ahmtcn</a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i> ahmtcn</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="profile-info-right">
                            <ul class="nav nav-tabs">
                                    <li><a href="#a" data-toggle="tab">Blogs</a></li>
                                    <li><a href="#b" data-toggle="tab">Settings</a></li>
                                    <li><a href="#c" data-toggle="tab">Followers</a></li>
                                    <li><a href="#d" data-toggle="tab">Followed</a></li>
                                    <li><a href="#e" data-toggle="tab">Create Article</a></li>
                                 </ul>
                                 
                                 <div class="tab-content">
                                    <div class="tab-pane active" id="a">
                                        
                                            <div class="card-deck">
                                                    <div class="card">
                                                      <img class="card-img-top" src="{% static 'images/marion-michele-330691.jpg' %}" alt="Card image cap">
                                                      <div class="card-body">
                                                        <h5 class="card-title">Card title</h5>
                                                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                                                      </div>
                                                    </div>
                                                    <div class="card">
                                                      <img class="card-img-top" src="{% static 'images/marion-michele-330691.jpg' %}" alt="Card image cap">
                                                      <div class="card-body">
                                                        <h5 class="card-title">Card title</h5>
                                                        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                                                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                                                      </div>
                                                    </div>
                                                    <div class="card">
                                                      <img class="card-img-top" src="{% static 'images/marion-michele-330691.jpg' %}" alt="Card image cap">
                                                      <div class="card-body">
                                                        <h5 class="card-title">Card title</h5>
                                                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                                                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                                                      </div>
                                                    </div>
                                                  </div>
                                    
                                    
                                    </div>
                                    
                                    <div class="tab-pane" id="b">

                                            <form action="{% url 'accounts:change_profile_settings' %}" method="POST">
                                              {% csrf_token %}
                                                    <div class="form-group">
                                                      <label for="email">Email address</label>
                                                      <input type="email" class="form-control" id="email" name="email" placeholder="Enter email">

                                                    </div>
                                                    <div class="form-group">
                                                      <label for="firstname">First Name</label>
                                                      <input type="text" class="form-control" id="firstname" name="first_name" placeholder="First Name">
                                                    </div>
                                                    <div class="form-group">
                                                      <label for="lastname">Last Name</label>
                                                      <input type="text" class="form-control" id="lastname" name="last_name" placeholder="First Name">
                                                    </div>

                                                    <div class="form-group">
                                                      <label for="birtdate">Birth Date</label>
                                                      <input type="date" class="form-control" id="birtdate" name="birth_date" placeholder="Birth Date">
                                                    </div>

                                                    <div class="form-group">
                                                      <label for="blogname">Blog Name</label>
                                                      <input type="text" class="form-control" id="blogname" name="blogname" placeholder="Blog Name">
                                                    </div>


                                                    <div class="form-group">
                                                        <label for="description">Description</label>
                                                        <input type="text" class="form-control" id="description" name="description" placeholder="Description">
                                                      </div>
                                                    
                                                      
                                                    <div class="form-group">
                                                        <label for="about">About</label>
                                                        <input type="text" class="form-control" id="about" name="about" placeholder="About">
                                                      </div>
                                                    <button type="submit" class="btn btn-primary">Submit</button>
                                            </form>


                                    </div>
                                    <div class="tab-pane" id="c">

                                      {% for follower in follower_list %}
                                        <li>{{follower}}</li><br>
                                      {% endfor %}


                                    </div>
                                    <div class="tab-pane" id="d">

                                      {% for followed in followed_list %}
                                        <li>{{followed}}</li><br>
                                      {% endfor %}

                                    </div>

                                    <div class="tab-pane" id="e">

                                        <form action="{% url 'articles:save_article' %}" method="POST">
                                          {% csrf_token %}

                                                <div class="form-group">
                                                  <label for="exampleInputPassword1">Title</label>
                                                  <input type="text" class="form-control" id="exampleInputPassword1" name="title" placeholder="Title">
                                                </div>
                                                <div class="form-group">
                                                  <label for="exampleInputPassword1">Description</label>
                                                  <input type="text" class="form-control" id="exampleInputPassword1" name="description" placeholder="Description">
                                                </div>

                                                <div class="form-group">
                                                  <label for="exampleInputPassword1">Topic</label>
                                                  <input type="text" class="form-control" id="exampleInputPassword1" name="topic" placeholder="Topic">
                                                </div>

                                                <div class="form-group">
                                                    <label for="exampleFormControlTextarea3">Article</label>
                                                    <textarea class="form-control" id="exampleFormControlTextarea3" name="article" rows="7"></textarea>
                                                  </div>
                                                  <div class="form-group"
                                                  <span>Add photo</span>
                                                  <input type="file">
                                                </div>
                                                <button type="submit" class="btn btn-primary">Submit</button>
                                        </form>

                                </div>

                          </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script type="text/javascript">
        
    </script>



{% endblock %}