{% extends 'base.html' %}

{% load static %}


{% block content %}

	<link rel="stylesheet" type="text/css" href="{% static 'css/util.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
<!--===============================================================================================-->

<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-50">
            <form class="login100-form validate-form" action="{% url 'accounts:register' %}" method="POST">
                {% csrf_token %}
                <span class="login100-form-title p-b-33">
                    Register
                </span>

                <div class="wrap-input100" data-validate = "Valid email is required: ex@abc.xyz">
                    <input class="input100" type="email" name="email" placeholder="Email">

                </div>

                <div class="wrap-input100">
                    <input class="input100" type="text" name="username" placeholder="username">

                </div>
                <div class="wrap-input100" data-validate = "Valid password is required: more than 6">
                    <input class="input100" type="text" name="password" placeholder="password">

                </div>

                <div class="wrap-input100" data-validate = "Valid password is required: more than 6">
                    <input class="input100" type="text" name="password2" placeholder="re-password">

                </div>

                <div class="container-login100-form-btn m-t-20">
                    <button class="login100-form-btn">
                        Register
                    </button>
                </div>
                <br>
                <div class="text-center">
                        <span class="txt1">
                            Already Registered?
                        </span>
    
                        <a href="{% url 'accounts:login' %}" class="txt2 hov1">
                            login
                        </a>
                    </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}